/* Some basic styling using CSS Grid */
body {
  margin: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.content {
  grid-area: content;
}

.navbar {
  grid-area: navbar;
  display: grid;
  grid-template-columns: repeat(6, 180px);
  grid-gap: 1em;
  text-align: center;
}
.navbar-item {
    background: #3f51b5;
    font-size: .8em;
}

.footer {
  grid-area: footer;
  background-color: #000
}

.wrapper {
  background-color: #fff;
  color: #444;
}

.wrapper {
  display: grid;
  grid-gap: 1em;
  grid-template-areas:
    "navbar"
    "content"
    "footer";
}

@media only screen and (min-width: 500px) {
  .wrapper {
    grid-template-columns: 20% auto;
    grid-template-areas:
      "navbar   navbar"
      "content  content"
      "content content"
      "footer   footer";
  }
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 150%;
}

.navbar {
  background-color: #999;
}

.content {
  background-color: #ccc;
  color: #444;
}
